<nav class="navbar-recode">

    <div class="logo-navbar"></div>

    <div class="menu-navbar d-flex">

        <div class="item-menu">
            <i class="fal fa-tools"></i>
            Ticket 
        </div>

        <div class="item-menu">
            <i class="far fa-list-ul"></i>
            Parc
        </div>

        <div class="item-menu">
            <i class="far fa-shopping-cart"></i>
            Catalogue
        </div>

        <div class="item-menu">
            <i class="far fa-briefcase"></i>
            Administration
        </div>


    </div>


</nav>


















{# <div class="collapse navbar-collapse nav navbar-nav flex-row justify-content-start flex-nowrap mx-4" id="navbarNavDropdown"> #}
    {# <ul class="navbar-nav ">
        <li class="nav-item dropdown-center">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </a>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="home">Mon profil</a></li>
                <hr>
                <h6 class="text-muted">Mes sites</h6>
                    {% for client in user.clients %}
                        <li><a class="dropdown-item" href="client?cli__id={{client.cli__id}}">{{client.cli__nom}}</a></li>
                    {% endfor %}
                <hr>
                <li><a class="dropdown-item" href="logout">Se deconnecter</a></li>
            </ul>
        </li>
    </ul> #}
{# </div> #}