<nav class="navbar-recode">
    <div class="burger-menu" id="burger-menu">
        <span></span>
    </div>
    <div class="logo-navbar"></div>
    <div class="menu-navbar d-flex">
        <div class="item-menu">
            <a href="" class="link-navbar-myrecode">
                <i class="fal fa-tools"></i>
               Tickets
            </a>
        </div>
        <div class="item-menu">
            <a href="" class="link-navbar-myrecode">
                <i class="far fa-list-ul"></i>
                Parc
            </a>
        </div>
        <div class="item-menu">
            <a href="" class="link-navbar-myrecode">
                <i class="far fa-shopping-cart"></i>
                Catalogue
            </a>
        </div>
        <div class="item-menu">
            <a href="" class="link-navbar-myrecode">
                <i class="far fa-briefcase"></i>
                Administration
            </a>
        </div>
    </div>
    <div class="last-navbar">
        <a href="" class="link-navbar-myrecode">
            <i class="fal fa-sign-out-alt"></i>
        </a>
    </div>
</nav>
<div class="menu-smartphone" id="menu-smartphone">
    <div class="list-smartphone">
        <div class="list-element">
            <a href="" class="link-navbar-myrecode-smart">
            <i class="fal fa-tools"></i> Tickets
            </a>
        </div>
        <div class="list-element">
            <a href="" class="link-navbar-myrecode-smart">
                <i class="far fa-list-ul"></i>
                Parc
            </a>
        </div>
        <div class="list-element">
            <a href="" class="link-navbar-myrecode-smart">
                <i class="far fa-shopping-cart"></i>
                Catalogue
            </a>
        </div>
        <div class="list-element">
            <a href="" class="link-navbar-myrecode-smart">
                <i class="far fa-briefcase"></i>
                Administration
            </a>
        </div>
        <div class="list-element">
            <a href="" class="link-navbar-myrecode-smart">
                <i class="fal fa-sign-out-alt"></i>
                Se deconnecter
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var burgerMenu = document.getElementById('burger-menu');
    var overlay = document.getElementById('menu-smartphone');
    burgerMenu.addEventListener('click', function() {
    this.classList.toggle("close");
    overlay.classList.toggle("overlay");
    });
</script>
















{# <div class="collapse navbar-collapse nav navbar-nav flex-row justify-content-start flex-nowrap mx-4" id="navbarNavDropdown"> #}
    {# <ul class="navbar-nav ">
        <li class="nav-item dropdown-center">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </a>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="home">Mon profil</a></li>
                <hr>
                <h6 class="text-muted">Mes sites</h6>
                    {% for client in user.clients %}
                        <li><a class="dropdown-item" href="client?cli__id={{client.cli__id}}">{{client.cli__nom}}</a></li>
                    {% endfor %}
                <hr>
                <li><a class="dropdown-item" href="logout">Se deconnecter</a></li>
            </ul>
        </li>
    </ul> #}
{# </div> #}