<div class="wrapper-body-home wrapper-offre">
    <div class="sous-titre-myRecode sous-titre-left mt-3">
        <i class="fas fa-bell fa-lg"></i>   <span class="mx-4">Offres</span>
    </div>
    <div class="carroussel">
              <div class="carroussel-item-myrecode">
                <div class="carroussel-pub">
                    <img class="image-carroussel" src="public/images/carroussell.png" alt="First slide">
                    <span class="span-success demande-devis">Demande de devis</span>
                </div>
              </div>
    </div>
</div>