<div class="sidebar">
    <div class="interlocuteur">
        <div class="titre-interlocuteur">Vos interlocuteurs Recode</div>
        <div class="commercial">
                <img class="image-commercial" src="public/images/user.png" alt="commercial">
                <div class="text-commercial">
                    <div class="nom-commercial">
                        John Doe
                    </div>
                    <div class="info-commercial">
                        johndoe@recode.fr<br>
                        Directeur commercial
                    </div>
                </div>
        </div>
        <div class="commercial">
            <img class="image-commercial" src="public/images/user.png" alt="commercial">
            <div class="text-commercial">
                <div class="nom-commercial">
                    John Doe
                </div>
                <div class="info-commercial">
                    johndoe@recode.fr<br>
                    Directeur commercial
                </div>
            </div>
    </div>
    </div>
    <div class="coordonees">
        <div class="titre-interlocuteur">Coordonées Recode</div>
        <div class="list-coordonees">
            <div class="item-coordonees">
                <div class="picto-side-wrapper"><i class="fas fa-map-marker-alt fa-2x"></i>
                </div> 
                <div class="info-commercial info-coordonee">
                    Recode -PA de la siagne <br>112 alle françois coli <br> 06210 mandelieu
                </div>
            </div>
            <div class="item-coordonees">
                <div class="picto-side-wrapper"><i class="fas fa-phone-alt fa-2x"></i>
                </div> 
                <div  class="info-commercial info-coordonee">
                   <b>STANDARD - </b>04 93 47 25 00<br>
                   <b>SAV - </b>04 93 90 51 80 
                </div>
            </div>
            <div class="item-coordonees">
                <div class="picto-side-wrapper"><i class="fas fa-map-marker-alt fa-2x"></i>
                </div> 
                <div class="info-commercial info-coordonee">
                   www.recode.fr
                </div>
            </div>
        </div>
    </div>
</div>