@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css');


.btn-myRecode-success{
    width: 198px;
    height: 48px;
    background: #1FB447;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.btn-myRecode-success:hover{
    width: 198px;
    height: 48px;
    background: #1FB447;
    border-radius: 16px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}


.input-myRecode-text{
    padding-left: 14px;
    width: 332px;
    height: 53px;
    border: none;
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: rgba(54, 54, 54, 0.6);
    background: #D9D9D9;
}

.input-myRecode-text:focus{
    outline: none;
}

.input-myRecode-text::placeholder {
    text-align: left;
}
.input-myRecode-text::placeholder {
    text-align: left;
}

input[type="email"]{
    text-align: center;
}
input[type="text"] {
    text-align: right;
}

.wrapper-myRecode{
    margin-top: 14%;
}

.ecovadiv{
    position: absolute;
    width: 135px;
    height: 132px;
    bottom: 15px;
    right: 25px;
    background: url("../images/logoecovadis.png");
}

.recode-logo{
    background: url("../images/logo-recode.png") no-repeat;
    position: absolute;
    background-size: cover;
    max-width:450px;
    max-height:300px;
    min-width:250px;
    min-height:90px;
    width: auto;
    height: auto;
    top: 5%;
    left: 5%;
}

.h1-myRecode{
    font-family: 'Open Sans Hebrew';
    margin-bottom: 3%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.background-x5{
    background: url('../images/fond-x5.png') no-repeat center center fixed;
    border: 1px solid #000000;
    backdrop-filter: blur(4px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;

}


@media (max-width:1980px) {
    .recode-logo{
        background: url("../images/logo-recode.png") no-repeat;
        position: absolute;
        background-size: cover;
        max-width:450px;
        max-height:300px;
        min-width:250px;
        min-height:90px;
        width: auto;
        height: auto;
        top: 5%;
        left: 5%;
    }
    .ecovadiv{
        position: absolute;
        width: 135px;
        height: 132px;
        bottom: 15px;
        right: 25px;
        background: url("../images/logoecovadis.png");
    }
}

@media (max-width:835px) {
    .ecovadiv{
        position: absolute;
        width: 135px;
        height: 132px;
        bottom: 15px;
        left: 15px;
        background: url("../images/logoecovadis.png");
    }
    .recode-logo{
        background: url("../images/logo-recode.png") no-repeat;
        position: absolute;
        background-size: cover;
        max-width:250px;
        max-height:90px;
        min-width:250px;
        min-height:90px;
        width: auto;
        height: auto;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .tiret-h1{
        display: none;
    }

    .h1-myRecode{
        font-family: 'Open Sans Hebrew';
        margin-bottom: 5%;
        font-style: normal;
        margin: auto;
        max-width: 350px;
        font-weight: 700;
        font-size: 32px;
        line-height: 54px;
        line-height: 44px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    }

    .wrapper-myRecode{
        margin-top: 50%;
    }
}


