.info-contact{
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.wrapper-tickets{
    margin-top: 130px ;
}

.text-success-recode{
    color: #1FB447;
}

.green-card{
    
    width: 853px;
    height: 126px;
    background: #7BB68B;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}

.tittle-green-card{
    
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
