{% extends 'base.html.twig' %}
    {% block style %}
    {% endblock %}
{% block main %}
    <div class="background-x5">
        <div class="wrapper-myRecode">
            <main class=" d-flex flex-column align-items-center justify-content-center form-signin w-100 m-auto text-center">
                
                {% if alert %}
                    <div class="alert alert-danger-recode" role="alert">
                        {{alert}}
                    </div>
                  
                    <a class="side-link" href="login">Retourner à la page de connexion</a>
                {% endif %}
            </main>
        </div>
    </div>
<div class="recode-logo"></div>
<div class="ecovadiv"></div>
{% endblock %}
    {% block script %}
    {% endblock %}