{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">

{% endblock %}
{% block main %}
{% include "elements/navbar.html.twig" %}
{% include "elements/sidebar.html.twig" %}
<main class=" d-flex">
  
  
</main>
{% endblock %}
{% block script %}

{% endblock %}