{% extends 'base.html.twig' %}
    {% block style %}
    {% endblock %}
{% block main %}
    {% include "elements/navbar.html.twig" %}
        <main class=" d-flex">
            <div class="container"> Utilisateur <b>{{user.user__mail}}</b> connecté</div>
        {{dump(user)}}
        </main>
{% endblock %}
    {% block script %}
    {% endblock %}