{% extends 'base.html.twig' %}
    {% block style %}
    <link rel="stylesheet" href="public/css/navbar.css">
    <link rel="stylesheet" href="public/css/sidebar.css">
    {% endblock %}
{% block main %}
    {% include "elements/navbar.html.twig" %}
    {% include "elements/sidebar.html.twig" %}
    {% if alert %}
            <div class="alert alert-recode alert-warning alert-dismissible fade show" role="alert">
                <div class="div-alert">
                    <b>
                        {{alert.message}}
                    </b>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
        <main class=" d-flex">
            
        </main>
{% endblock %}
    {% block script %}
    {% endblock %}