{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}
{% block main %}

<div class="background-x5">
    <div class="wrapper-myRecode">
        <h1 class="h1-myRecode">ESPACE CLIENT <span class="tiret-h1"><br></span> Gestion de parc </h1>
       
        <main class=" d-flex align-items-center justify-content-center form-signin w-100 m-auto  text-center">
            <form method="POST" action="">
                {% if alert %}
                <div class="alert alert-danger-recode" role="alert">
                    <div class="">
                        <b>
                            {{alert.message}}
                        </b>
                    </div>   
                </div>
                {% endif %}
                <div class="form-floating my-2 ">
                        <input type="email" class="input-text-myRecode" name="user__mail" value="{{alert['username']}}" placeholder="Email">
                </div>
                <div class="form-floating my-4">
                    <input type="password" class="input-text-myRecode" value="{{alert['password']}}" name="user__password" id="password"  placeholder="Mot de passe">
                    <i class="fa-solid fa-eye" id="eye"></i>
                </div>
               <div class="mb-3">
                     <a href="forgot" class="side-link "> Mot de pass oublié ? </a>
               </div>
                <button class="btn-myRecode-success my-2  mx-auto" type="submit">Connexion</button>
            </form>
        </main>
    </div>
</div>
<div class="recode-logo"></div>
<div class="ecovadiv"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    const passwordField = document.querySelector("#password");
    const eyeIcon= document.querySelector("#eye");
    eye.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash");
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
      })
</script>


{% endblock %}