{% extends 'base.html.twig' %}
    {% block style %}
   
    {% endblock %}
{% block main %}
    
    <div class="background-x5">
        <div class="wrapper-myRecode">
            <h1 class="h1-myRecode">Problème de connexion ?  </h1>
           
            {% include "forms/reset_pass_forms.html.twig" %}
        </div>
        <div class="ecovadiv"></div>
    </div>
    <div class="recode-logo"></div>
{% endblock %}
    {% block script %}
    <script type="text/javascript">
        const retour = document.querySelector("#retour");
       
        retour.addEventListener("click", function(){
         window.location.href = "login";
      })

    </script>
    {% endblock %}