{% extends 'base.html.twig' %}
    {% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% endblock %}
{% block main %}
<div class="background-x5">
    <div class="wrapper-myRecode">
        <h1 class="h1-myRecode">Réinitialiser votre <br> mot de passe </h1>
        {% include "forms/new_pass_forms.html.twig" %}
    </div>
    <div class="ecovadiv"></div>
</div>
<div class="recode-logo"></div>
{% endblock %}
{% block script %}
<script type="text/javascipt">
    const passwordField = document.querySelector("#user__password");
    const eyeIcon = document.querySelector("#eye1");
    eyeIcon.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash");
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
    })
</script>
{% endblock %}