<form method="POST" action="forgot">

    <div class=" my-4 d-flex flex-column justify-content-center align-items-center">
        <input type="hidden" value="{{key}}" name="confirm__key">
        <input type="password" class="input-myRecode col-7 my-4 "  name="user__password" placeholder="Nouveau mot de passe" required>
        <input type="password" class="input-myRecode col-7 my-4 "  name="confirm__pass" placeholder="Confirmez votre nouveau mot de passe*" required>
        <button class="btn-myRecode-success  my-4" type="submit">Valider</button>
    </div>
        
</form>