<form method="GET" action="forgot">

    <div class=" my-4 d-flex flex-column justify-content-center align-items-center">
        <input type="email" class="input-myRecode col-7 "  name="user__mail" placeholder="Renseignez votre email*" required>
        <button class="btn-myRecode-success  my-4" type="submit">Valider</button>
    </div>
        
</form>