<forms class="col-12" method="" action="">
    <div class="d-flex wrapper-wrapper-forms">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center wrapper-fields-forms">
            <input type="text" class="input-myrecode-forms my-2" value="" name="" placeholder="Nom*" >
            <input type="text" class="input-myrecode-forms my-2" value="" name="" placeholder="Prenom*" >
            <input type="text" class="input-myrecode-forms my-2" value="" name="" placeholder="Adresse Email*" >
            <input type="text" class="input-myrecode-forms my-2" value="" name="" placeholder="Telephone*" >
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Site associées</option>
            </select>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Droit utilisateur</option>
            </select>
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Vue des tickets</option>
            </select>
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Vue du matériel</option>
            </select>
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Délegation</option>
            </select>
            <select class="input-myrecode-forms my-2" value="" name="">
                <option value="" disabled selected>Autorisation des commandes</option>
            </select>
           
        </div>  
    </div>
    <div class="d-flex my-4 wrapper-button-forms">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6">
            <div class="my-2 wrapper-button d-flex justify-content-center">
                <button type="button" class="btn-recode-classic mx-4" id="retour">Retour</button>
                <button class="btn-myRecode-success mx-4" type="submit">Valider</button>
            </div>
        </div>

    </div>
</forms>